@font-face {
    font-family: 'Syne';
    src: url('fonts/Syne/Syne-Regular.eot');
    src: local('Syne Regular'), local('Syne-Regular'),
        url('fonts/Syne/Syne-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Syne/Syne-Regular.woff2') format('woff2'),
        url('fonts/Syne/Syne-Regular.woff') format('woff'),
        url('fonts/Syne/Syne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/Syne/Syne-Medium.eot');
    src: local('Syne Medium'), local('Syne-Medium'),
        url('fonts/Syne/Syne-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Syne/Syne-Medium.woff2') format('woff2'),
        url('fonts/Syne/Syne-Medium.woff') format('woff'),
        url('fonts/Syne/Syne-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/Syne/Syne-SemiBold.eot');
    src: local('Syne SemiBold'), local('Syne-SemiBold'),
        url('fonts/Syne/Syne-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Syne/Syne-SemiBold.woff2') format('woff2'),
        url('fonts/Syne/Syne-SemiBold.woff') format('woff'),
        url('fonts/Syne/Syne-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/Syne/Syne-Bold.eot');
    src: local('Syne Bold'), local('Syne-Bold'),
        url('fonts/Syne/Syne-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Syne/Syne-Bold.woff2') format('woff2'),
        url('fonts/Syne/Syne-Bold.woff') format('woff'),
        url('fonts/Syne/Syne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/Syne/Syne-ExtraBold.eot');
    src: local('Syne ExtraBold'), local('Syne-ExtraBold'),
        url('fonts/Syne/Syne-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Syne/Syne-ExtraBold.woff2') format('woff2'),
        url('fonts/Syne/Syne-ExtraBold.woff') format('woff'),
        url('fonts/Syne/Syne-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

