/* CSS Document */

.HeroArticles {
    margin-top: 80px;

    @media (max-width: $mob) {
        margin-top: 32px;
    }

    &Flex {
        display: flex;

        @media(max-width: $tablemin) {
            flex-direction: column;
        }

        &MainColumn {
            width: 40%;

            @media(max-width: $tablemin) {
                width: 100%;
            }

            .HeroBigArticle {
                display: flex;
                flex-direction: column;
                border: 1px solid #000;
                height: 100%;
                cursor: pointer;
                position: relative;

                &Link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }

                &Top {
                    position: relative;

                    &Time {
                        position: absolute;
                        background-color: #19C79D;
                        color: #fff;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        right: 16px;
                        top: 16px;
                        border: 1px solid #000;

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            height: 10px;
                            width: 10px;
                            transform: rotate(45deg) translateX(-50%);
                            border-right: 1px solid #000;
                            border-bottom: 1px solid #000;
                            background-color: #19C79D;
                            bottom: -9px;
                            left: 50%;
                        }

                    }

                    &Image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio: 524/311;
                        width: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }

                    }

                }

                &Bottom {
                    display: flex;
                    flex-direction: column;
                    padding: 32px;
                    background-color: #CCF3EA;
                    border-top: 1px solid #000;
                    height: inherit;

                    @media(max-width: $tablemin) {
                        padding: 16px 20px 20px 20px;
                    }

                    &Date {
                        margin-bottom: 16px;
                        color: #06A57E;
                        font-weight: 600;

                        @media(max-width: $tablemin) {
                            font-size: 16px;
                        }

                    }

                    &Title {
                        font-size: 32px;
                        line-height: 130%;
                        color: #000000;
                        font-weight: 600;
                        margin-bottom: 8px;

                        @media(max-width: $tablemin) {
                            font-size: 20px;
                        }
                    }

                    &Exerpt {
                        color: #000000;
                        line-height: 160%;

                        @media(max-width: $tablemin) {
                            font-size: 14px;
                        }

                    }

                }

            }

        }

        &AdditionalColumn {
            width: 60%;
            padding-left: 16px;
            display: flex;
            flex-direction: column;

            @media(max-width: $tablemin) {
                width: 100%;
                padding-left: 0;
                margin-top: 16px;
            }

            .HeroMinArticle {
                display: flex;
                height: calc(100% / 3);
                border: 1px solid #000;
                margin-bottom: 16px;
                cursor: pointer;
                position: relative;

                &Link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                &:nth-child(2) {
                    flex-direction: row-reverse;

                    @media(max-width: $tablemin) {
                        flex-direction: column;
                    }

                    .HeroMinArticleBottom {
                        border-left: none;
                        border-right: 1px solid #000;

                        @media(max-width: $tablemin) {
                            border-right: none;
                            border-top: 1px solid #000;
                        }
                    }
                }

                @media(max-width: $tablemin) {
                    flex-direction: column;
                    height: auto;
                }

                &Top {
                    width: 40%;
                    position: relative;

                    @media(max-width: $tablemin) {
                        width: 100%;
                    }

                    &Time {
                        position: absolute;
                        background-color: #19C79D;
                        color: #fff;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        right: 16px;
                        top: 16px;
                        border: 1px solid #000;

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            height: 10px;
                            width: 10px;
                            transform: rotate(45deg) translateX(-50%);
                            border-right: 1px solid #000;
                            border-bottom: 1px solid #000;
                            background-color: #19C79D;
                            bottom: -9px;
                            left: 50%;
                        }

                    }

                    &Image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        max-height: 100%;
                        aspect-ratio: 308/183;
                        height: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                }

                &Bottom {
                    width: 60%;
                    border-left: 1px solid #000;
                    padding: 24px;

                    @media(max-width: $tablemin) {
                        width: 100%;
                        padding: 16px 20px 20px 20px;
                        border-left: none;
                        border-top: 1px solid #000;
                    }

                    &Date {
                        font-weight: 600;
                        font-size: 12px;
                        color: #06A57E;
                        margin-bottom: 16px;

                        @media(max-width: $tablemin) {
                            font-size: 16px;
                        }
                    }

                    &Title {
                        color: #000000;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 130%;
                        margin-bottom: 8px;

                        @media(max-width: $tablemin) {
                            font-size: 20px;
                        }
                    }

                    &Exerpt {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 160%;
                        color: #000000;
                    }

                }


            }


        }
    }
}